$primaryColor: white;
$secondaryColor: darken(#0a192f,10%);
$tertiaryColor: darken($primaryColor,30%);
$mainFont: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
$minorFont:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;

@mixin easeIn {
    transition: all 0.5s ease-out;
}



