@use 'config';

@mixin headerStyles {
    header {
        font-family: config.$minorFont;
        font-size: 18px;
        .header-container {
            margin: 0 10px 0 10px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                position: absolute;
                top: 15px;
                left: 15px;
            }
        }
        nav {
            &.normal-nav {
                position: absolute;
                top: 15px;
                right: 15px;
                ul {
                    display: flex;
                    list-style-type: none;
                    li {
                        :hover {
                            color:aqua;
                        }
                        margin-right: 60px;
                        a {
                            text-decoration: none;
                            color: darken(config.$primaryColor,0%);
                            @include config.easeIn;
                            font-size: 1.3rem;
                            
                        }
                    }
                }
            }
        }
        .hamburger-menu {
            .menu-icon {
                visibility: hidden;
                position: absolute;
                top: 15px;
                right: 15px;
                z-index: 999;
                .btn-line {
                    width: 30px;
                    height: 3px;
                    margin-bottom: 5px;
                    background-color: rgb(247, 242, 242);
                }
            }
            .hamburger-nav {
                transform: translateY(-100%);
                @include config.easeIn;
                height: 100vh;
                width: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                .overlay,
                .navigation {
                    height: 100vh;
                    float: left;
                    display: flex;
                    justify-content: center;
                }
                .overlay {
                    width: 30%;
                    opacity: 0.9;
                    background-color: lighten(config.$secondaryColor, 15%);
                }
                .navigation {
                    width: 70%;
                    background-color: lighten(config.$secondaryColor, 10%);
                }
                ul {
                    list-style-type: none;
                    margin-top: 50px;
                    li {
                        margin: 30px 0;
                        :hover {
                            color:aqua;
                        }
                        a {
                            text-decoration: none;
                            color: config.$primaryColor;
                            font-size: 2rem;
                            @include config.easeIn;
                        }
                    }
                }
            }
        }

        // on clicking hamburger-menu icon
        .hamburger-menu.show {
            .menu-icon {
                .btn-line {
                    &:nth-child(1) {
                        transform: translateY(10px) rotate(45deg);
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:nth-child(3){
                        transform: translateY(-6px) rotate(-45deg);
                    }
                }
            }
            .hamburger-nav {
                transform: translateY(0%);
            }
        }
    }
}
