@use 'config';
@use 'about';
@use 'work';
@use 'media';
@use 'header';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    font-family: config.$mainFont;
    color: config.$primaryColor;
    background-color: lighten(config.$secondaryColor, 10%);
    line-height: 1.5rem;
}

@include header.headerStyles;

main {
    color: config.$tertiaryColor;
    min-height: calc(100vh - 50px);
    .container {
        max-width: 960px;
        margin: 40px auto;
        padding: 40px;
        .intro {
            font-family: config.$minorFont;
            font-size: 1.5rem;
            margin-bottom: 20px;
            color: aqua;
        }
        .name{
            color: config.$primaryColor;
            font-size: 2.5rem;
            margin-bottom: 40px;

        }
        .title{
            font-size: 2.5rem;
            margin-bottom: 30px;
            span {
                color: config.$primaryColor;
            }
        }
        .description{
            margin-top: 25px;
            line-height: 1.5rem;
            font-size: 18px;
        }
        .icons{
            margin-top: 20px;
            a svg{
                width: 45px;
                height: 45px;
                margin-right: 30px;
                color: white;
            }
        }

        @include about.aboutPage-styles;
        @include work.workPage-styles;
        .contact {
            font-size: 1.5rem;
            font-weight: 600;
            h3 {
                font-weight: 900;
            }
        }
    }
}

footer {
    text-align: center;
    font-size: 1.15rem;
    padding: 5px;
    margin: 10px auto;
}

// Media Queries
@include media.mediaSm;
@include media.mediaMd;
@include media.mediaLg;
@include media.mediaXl;



